<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
            <title>{{title}}</title>
        {% block head %}
            
        {% endblock %}
    </head>

    <body>
        <header>
            <h1>I CANT FIND A NAME</h1>
        </header>
          <!-- <div class="container blue circleBehind">           
                <a onclick="window.location.href='/option/orders'">ORDER</a>
                <a onclick="window.location.href='/option/rawmaterial'">RAW MATERIAL</a>
                <a onclick="window.location.href='/option/production'">PRODUCTION</a>
                <a onclick="window.location.href='/option/shipment'">SHIPMENT</a>
          </div> -->
        <!-- <div class="box">
            <table class="table"> -->
                <!-- <img src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/> -->

            <!-- </table>
        </div> -->

        <div class="cards">
            <div class="card">
                <p>ORDER</p>
                <a href="/orders"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/vieworders"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>RAWMATERIAL</p>
                <a href="/rawmaterial"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewrawmaterials"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>PRODUCTION</p>
                <a href="/production"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewproductions"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>SHIPMENT</p>
                <a href="/shipment"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewshipments"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>
        </div>
          <footer>
            <span>BOOM</span>
          </footer>
        {% block body %}
        {% endblock %}
    </body>

</html>
