    {% extends "layout.html" %}

        {% block head %}          
        {% endblock %}


        {% block body %}
        <div class="cards">
            
            <div class= "card1">
                <div class="card">
                    <h3>ORDER</h3>
                    <!-- <img src="https://img.icons8.com/pastel-glyph/64/000000/purchase-order.png"/>  -->
                    <img src="https://img.icons8.com/ios/62/000000/purchase-order.png"/>
                </div>
                <div class="button">
                    <button class ="optionbutton" onclick="window.location.href='/editorders'">EDIT</button>
                    <button class ="optionbutton" onclick="window.location.href='/editorders'">VIEW</button>
                </div>
            </div>

            <div class= "card1">
                <div class="card">
                    <h3>RAWMATERIAL</h3>
                    <img src="https://img.icons8.com/wired/68/000000/commodity.png"/>
                </div>
                <div class="button">
                    <button class ="optionbutton" onclick="window.location.href='/editrawmaterials'">EDIT</button>
                    <button class ="optionbutton" onclick="window.location.href='/editorders'">VIEW</button>
                </div>
            </div>

            <div class= "card1">
                <div class="card">
                    <h3>PRODUCTION</h3>
                    <img src="https://img.icons8.com/wired/68/000000/gears.png"/>
                </div>
                <div class="button">
                    <button class ="optionbutton" onclick="window.location.href='/editproductions'">EDIT</button>
                    <button class ="optionbutton" onclick="window.location.href='/editorders'">VIEW</button>
                </div>
            </div>

            <div class= "card1">
                <div class="card">
                    <h3>SHIPMENT</h3>
                    <!-- <img src="https://img.icons8.com/pastel-glyph/64/000000/cargo-ship--v2.png"/> -->
                    <img src="https://img.icons8.com/dotty/80/000000/cargo-ship.png"/>
                </div>
                <div class="button">
                    <button class ="optionbutton" onclick="window.location.href='/editshipments'">EDIT</button>
                    <button class ="optionbutton" onclick="window.location.href='/editshipments'">VIEW</button>
                </div>
            </div>


<!-- 
            <div class="card">
                <p>RAWMATERIAL</p>
                <a href="/rawmaterial"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewrawmaterials"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>PRODUCTION</p>
                <a href="/production"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewproductions"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>SHIPMENT</p>
                <a href="/shipment"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewshipments"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div> -->
        </div>
        {% endblock %}
    
