{% extends "layout.html" %}

        {% block head %}          
        {% endblock %}


        {% block body %}
        <div class="cards">
            <div class="card">
                <p>ORDER</p>
                <a href="/orders"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/editorders"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
                <!-- <a href="/editorders/"><img src="https://img.icons8.com/material-rounded/24/000000/edit--v1.png"/></a> -->
                
            </div>

            <div class="card">
                <p>RAWMATERIAL</p>
                <a href="/rawmaterial"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewrawmaterials"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>PRODUCTION</p>
                <a href="/production"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewproductions"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>

            <div class="card">
                <p>SHIPMENT</p>
                <a href="/shipment"><img src="https://img.icons8.com/material-rounded/34/000000/add-property.png"/></a> 
                <a href="/viewshipments"><img src="https://img.icons8.com/fluent-systems-filled/34/000000/day-view.png"/></a>
            </div>
        </div>
        {% endblock %}
    
