
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
    <title>Document</title>
</head>

<body>
    <h1 id="edithead" style="text-align: center;">Orders Details</h1>
    <div class="table">
        <table id ="edittable">
            <tr>
                <th>Order Id</th>
                <th>Client Id</th>
                <th>Order Date</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Estimated Cost</th>
                <th>Deadline</th>
                <th>Edit</th>
                <th>Delete</th>
                <!-- <th style="border: 1px solid black;">ACTION</th> -->
            </tr>
            <div>
                <a id="edit" href="/addorders">ADD ORDER</a>
            </div>    

            {% for order in orders %} 
                <form action="" method="POST">
                    <tr>
                        <td>{{order[0]}}</td>
                        <td>{{order[1]}}</td>
                        <td>{{order[2]}}</td>
                        <td>{{order[3]}}</td>
                        <td>{{order[4]}}</td>
                        <td>{{order[5]}}</td>
                        <td>{{order[6]}}</td>
                        <td><a id="edit" href="/editorders/{{order[0]}}">UPDATE</a></td>
                        <td><a id="edit" href="/deleteorder/{{order[0]}}">DELETE</a></td>
                    </tr>
                </form>
            {% endfor %}
    
        </table>
    </div>
</body>

</html>