<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
            <title>{{title}}</title>
        {% block head %}
            
        {% endblock %}
    </head>

    <body>
        <div>
            <header>
                <div>
                    <h1>SHIPLANCE</h1>
                </div>
                <div>
                    <ul>
                        <li><a href='/order'></a></li>
                        <li><a href='/rawmaterial'></a></li>
                        <li><a href='/production'></a></li>
                        <li><a href='/shipment'></a></li>                                    
                    </ul>
                </div>
            </header>
        </div>


        <footer>
            <span>BOOM</span>
        </footer>
        {% block body %}
        {% endblock %}
    </body>

</html>
