<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
        <title>{{title}}</title>
    </head>
    
        {% block head %}          
        {% endblock %}    
    
    <body>
        
        <div class="navbar">           
            <div class="name"><h2>SHIPLANCE</h2></div>
            <div class="links">
                <ul class="list">
                    <li><a class="items home" href="">HOME</a></li>
                    <li><a class="items" href="/signin">SIGN IN</a></li>
                    <li><a class="items" href="">SIGN UP</a></li>
                    <li><a class="items" href="">ABOUT</a></li>
                    <li><a class="items" href="/signout">SIGN OUT</a></li>
                </ul>                                
            </div>
        </div>
        <div class="content">
            {% block body %}
            {% endblock %} 
        </div>

    
        
        <div class="footer">            
            <div class="copyright">
                <p>
                    Copyright © 2021 
                </p>
            </div>
        </div>  

        

    </body>

</html>
