<!DOCTYPE html>
<html lang="en">  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
        <title>{{title}}</title>
    </head>
        {% block head %}
            
        {% endblock %}
    

    <body>
        <div class="navbar">           
            <h1>SHIPLANCE</h1>
            <div class="links">
                <a onclick="window.location.href='/option/orders'">Order</a>
                <a onclick="window.location.href='/option/rawmaterial'">Rawmaterial</a>
                <a onclick="window.location.href='/option/production'">Production</a>
                <a onclick="window.location.href='/option/shipment'">Shipment</a>                                    
            </div>
        </div>


        <footer>
            <span>BOOM</span>
        </footer>
        {% block body %}
        {% endblock %}
    </body>

</html>
