<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
            <title>{{title}}</title>
        

    <body>
        <header>
            <h1>choose</h1>
        </header>
          <div>           
          <a href="/{{option}}">add {{option}} details</a>
          <a href="/view{{option}}">view {{option}}</a>            
          </div>
          <footer>
            <span>BOOM</span>
          </footer>
        {% block body %}
        {% endblock %}
    </body>

</html>
