<!-- {% extends "layout.html" %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static' , filename='style.css' ) }}">
    <title>Document</title>
</head>
<!-- {% block body %} -->
<body>
    <h1 style="text-align: center; margin-top: 107px;">Rawmaterials Details</h1>
    <div style="text-align: center; margin: 170px 40%;" >
        <table style="border: 1px solid black; text-align: left;border-collapse: collapse;">
            <tr style="border: 1px solid black;">
                <th style="border: 1px solid black;">clientid<u/th>
                <th style="border: 1px solid black;">orderid</th>
                <th style="border: 1px solid black;">materials</th>
                <th style="border: 1px solid black;">cost</th>
            </tr>
    
            {% for rawmaterial in rawmaterials %} 
                <form action="" method="POST">
                    <tr style="border: 1px solid black;">
                        <td style="border: 1px solid black;">{{rawmaterial[0]}}</td>
                        <td style="border: 1px solid black;">{{rawmaterial[1]}}</td>
                        <td style="border: 1px solid black;">{{rawmaterial[2]}}</td>
                        <td style="border: 1px solid black;">{{rawmaterial[3]}}</td>
                    </tr>
                </form>
            {% endfor %}
    
        </table>
    </div>
</body>
<!-- {% endblock %} -->
</html>